.postsTable{
    border-radius: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.postColumn {
    float: left;
    width: 50%;
  }
  
  .imageColumn {
    float: left;
    display: inline;
    width: 500px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .postRow {margin: 0; width: 500px;}
  
  /* Clear floats after the columns */
  .postRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
  }

details {
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.tagCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1px 5px;
    padding: 0px 3px;
    display: inline-block;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: #f1f1f1;
  }

        /* Photo */
        .postImage {
            -webkit-box-shadow:  0px 0px 2px 4px rgba(0, 0, 0, 0.1);
                    box-shadow:  0px 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
        .postImage h2 {
            font-size: 16px;
        }
        .postImage img {
            
            border-left:10px solid white;
            border-right:10px solid white;
            border-top:10px solid white;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
        }
        
        .zoom-on-hover {
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
        }
        .zoom-on-hover:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        /* Rotate the images */
        .rotate-right {
            -moz-transform:rotate(2deg);
            -webkit-transform: rotate(2deg);
            -o-transform:rotate(2deg);
            -ms-transform:rotate(2deg);
            transform:rotate(2deg);
       }
       .rotate-left {
            -moz-transform:rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -o-transform:rotate(-2deg);
            -ms-transform:rotate(-2deg);
            transform:rotate(-2deg);
       }
       
        .caption {
            color:#999999;
            background: white;
            font-style:italic;
        }
        .caption h2 {
            font-size:20px;
        }
            
        /* Grids */
        ul.grid {
            margin: 20px 0;
            padding: 0;
            list-style: none;
        }
        ul.grid li {
            position: relative;
            margin: 3% 2%;
        }
        ul.grid li:last-child {
            margin: 0 2%;
        }
        ul.grid li a {
            display: block;
            cursor: pointer;
            text-decoration: none;
        }
        ul.grid.half-width li {
            width: 38%;
            margin: 5%;
            float: left;
        }
        ul.third-width li {
            width:29.3%;
            margin:0 2% 2%;
            float:left;
        }
        
        /* Photo */
        .postImage {
            z-index: 2;
            position: relative;
            overflow: hidden;
        }
        .postImage img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }
        .postImage h2 {
            margin: 0;
        }
        
        /* Caption */
        .caption {
            margin: 0;
            padding: 20px;
            width: 100%;
            display: block;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
        }
        
        /* Column */
        .column {
            width:96%;
            margin:2%;
            float:none;
            clear:both;
        }
    
        /* Group / Clear floating */
        .group:after {
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0;
        }
