p{
  font-family: Questrial;
  text-align: center;
  font-weight: 600;
  font-size: 42px;
}

.search-form {
  position:relative;
  display: stretch;
  width:90%;
  align-items: stretch;

  .primary-btn {
    margin-left: 10px;
  }
  .reset-search-btn {
    display: inline-flex;
    align-self: right;
    align-items: center;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    cursor: pointer;
    strong {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      background: var(--secondary-color);
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      color: #fff;
    }
  }
  @media only screen  {
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px 10px;
    width: 90%;
    .form-group {
      display: flex;
      width: 100%;
      input {
        flex-grow: 1;
      }
    }
  }
}
